/*
  This will get rid of some annoying pre-loading margin/padding
*/
@import url('https://fonts.googleapis.com/css?family=Faster+One|Questrial');

html, body {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
  Now, your CSS
*/
body {
  width: 5000px;
  background: #13163f;
  color: #fbffe0;
}

header {
  width: 100vw;
  text-align: center;
}

h1 {
  font-size: 8em;
  font-family: "Faster One", sans-serif;
  margin-bottom: 0;
}

header h2 {
  font-size: 4em;
  font-style: italic;
  margin-top: 0;
}

h2, h3, p, aside {
  font-family: "Questrial", sans-serif;
}

aside {
  opacity: 0;
  transition: opacity .7s;
}

.plane:hover aside {
  opacity: 1;
}

.info {
  width: 100vw;
  font-size: 1.5em;
  padding: 0px 10px;
}

.info h2 {
  text-align: center;
}

.plane {
  padding: 10px;
  transition: background .2s;
}

.plane:hover {
  background: grey;
}

.plane h3 {
  transition: font-size .2s;
}

.plane:hover h3 {
  font-size: 1.7em;
}


.plane p, .plane img, .plane aside, .plane .speed-line {
  display: inline;
  vertical-align: middle;
}

.plane img {
  height: 150px;
}


.speed-line {
  display: inline-block!important;
  background: url("images/speedline.png");
  background-repeat: repeat;
  height: 20px;
  border-radius: 50px;
  margin-left: 5px;
  width: 0px;
  transition: width .5s;
}
